.Contact-Container {
    overflow: hidden;
    width: 100%;
    align-items: center;
    flex-flow: column;
   
    background-image: url("/image/gradient2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

/* Mobile Style */

/* 600px and down */
@media only screen and (max-width: 600px) {
    .Input-Container > * {
        font-size: 1em;
        line-height: 40px; 
    }
    .Input-Container ::-webkit-input-placeholder { 
        line-height: 40px;  
    }
    .Input-Container input:focus {
        outline: none;
        text-decoration: none;
        border: none;
    }
}

/* 600px and up */
@media only screen and (min-width: 600px) {
    .Input-Container > * {
        font-size: 18px;
    }
}