button {
    outline:none;
}
.modal-button {
    font-size: 0.8em;
    margin-top: 30px;
    cursor: pointer;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    display: flex;
    width: 135px;
    height: 30px;
}

.modal-button a {
    color: white;
}

.submit {
    cursor: pointer;
    background: transparent;
    border: 2px solid white;
    color: white;
    display: flex;
    width: 200px;
    height: 52px;
    margin: auto;
    margin-top: 59px;
    margin-bottom: 45px;
    font-size: medium;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .text-modal {
        margin-bottom: 8px;
    }
    .modal-button {
        font-size: 0.8em;
        width: 125px;
        height: 30px;
    }
}
@media screen and (max-width: 380px) {
    .modal-button {
        font-size: 0.7em;
        width: 120px;
        height: 28px;
    }
}
@media screen and (max-width: 330px) {
    .modal-button {
        width: 115px;
        height: 27px;    
    }
}