/* pure css loader */
.Loading{
    width: 10%;
    height: 18vh;
    /* text-align: center; */
    position: absolute;
    right: 43%;
    top: 70%;
    bottom: 0;
}

.Loading .spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
.Loading .spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000000;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000000 transparent transparent transparent;
}
.Loading .spinner div:nth-child(1) {
    animation-delay: -0.45s;
}
.Loading .spinner div:nth-child(2) {
    animation-delay: -0.3s;
}
.Loading .spinner div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.ProjectsLayout{
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    overflow-y: hidden;
    overflow-x: scroll;
}
.ProjectsLayout::-webkit-scrollbar { height: 5px; }
.ProjectsLayout::-webkit-scrollbar-track { background: lightgray; }/* Track */
.ProjectsLayout::-webkit-scrollbar-thumb { background: darkgray; }/* Handle */
.ProjectsLayout::-webkit-scrollbar-thumb:hover { background: gray;  }/* Handle on hover */

.center{
    width: 10%;
    height: 18vh;
    position: absolute;
    right: 43%;
    top: 70%;
    bottom: 0;
}