.Input-Container {
      overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.Input-Container:not(#container-input) {
    border-bottom: 2px solid white;
    color: white;
    margin: 15px 0;
    /* margin-bottom: 70px; */
}

.Input-Container > *:not(textarea) {
    width: 95%;
    border: none;
    color: white;
    background: transparent;
    min-height: 60px;
}

.Input-Container input {
    
}

.Input-Container textarea{
    margin-top: 30px;
    width: 95%;
    border: none;
    color: white;
    resize: none;
    background: transparent;
    min-height: 120px;

    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.Input-Container textarea:focus,input:focus  {
    outline: none;
}

.Input-Container input:-webkit-autofill,
.Input-Container input:-webkit-autofill:hover,
.Input-Container input:-webkit-autofill:focus,
.Input-Container input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}

.Input-Container textarea::-webkit-scrollbar { width: 5px; }
.Input-Container textarea::-webkit-scrollbar-track { background: lightgray; }
.Input-Container textarea::-webkit-scrollbar-thumb { background: darkgray; }
.Input-Container textarea::-webkit-scrollbar-thumb:hover { background: gray;  }

.Input-Container ::-webkit-input-placeholder { color:#fff;  }
.Input-Container ::-moz-placeholder { color:#ffff; } 
.Input-Container :-ms-input-placeholder { color:#ffff; }  
.Input-Container input:-moz-placeholder { color:#ffff; } 