.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: flex-end;
}

.modal {
    text-align: center;
    color: white;
    background-color: rgb(70, 64, 70);
    width: 100%;
    height: 50vh;
    position: relative;
    flex-flow: column;
    margin: 13px;
}

.text-modal {
    font-size: 1.2em;
}

.text-modal-wrong {
    font-size: 1.2em;
}

@media screen and (max-width: 480px) {
    .text-hello {
        margin-top: 17px;
    }
    .text-modal-wrong {
        font-size: 1.1em;
    }
    .text-modal {
        font-size: 1.1em;
    }
}
@media screen and (max-width: 405px) {
    .text-modal-wrong {
        font-size: 1em;
    }
}
@media screen and (max-width: 380px) {
    .text-modal-wrong {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 330px) {
    .text-modal-wrong {
        font-size: 0.8em;
    }
    .text-modal {
        font-size: 1em;
    }
}
@media screen and (max-width: 300px) {
    .text-modal-wrong {
        font-size: 0.7em;
    }
}